body {
  height: 100%;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f3eae3;
}

.box {
  background-color: beige;
  height: 60vh;
  width: 70vh;
  display: flex;
  align-self: center;
  border-radius: 5%;
  border: solid 0 whitesmoke;
}

.picture {
  height: 100%;
  width: 50%;
  border: none;
  border-radius: 5%;
}
.picture img {
  height: 100%;
  width: 100%;
  border-radius: 3%;
}
.writeup {
  background-color: white;
  float: right;
  height: 100%;
  width: 50%;
  border-radius: 3%;
}

.pef {
  margin-top: 10%;
  color: #5c5959;
  margin-left: 10%;
  letter-spacing: 5px;
  margin-bottom: -5%;
}
.gab p {
  font-size: 200%;
  margin-left: 10%;
  margin-bottom: -15%;
}
.flora {
  margin-top: 25%;
}

.flora p {
  margin-left: 10%;
  line-height: 10px;
  color: #5c5959;
}

.price {
  margin-left: 10%;
  display: flex;
  gap: 10%;
  flex-direction: row;
}

.price h1 {
  font-family: "Times New Roman", Times, serif;
  color: #009900;
}

.price p {
  font-family: "Times New Roman", Times, serif;
  margin-top: 12%;
  text-decoration-line: line-through;
  color: #5c5959;
}
.btn {
  background-color: #009900;
  height: 50px;
  width: 80%;
  margin-left: 10%;
  border-radius: 12px;
  border-color: #f3eae3;
  color: white;
  border: none;
}
.btn img {
  height: 20px;
}
